



body{
  background-color: #F5F5F5;
  margin: 0;
}

.loginWrapper{
  background: white;
  width: 100%;
  text-align: right;
  padding: 20px 0;
  margin-bottom: 70px;
  -webkit-box-shadow: -1px 1px 17px -2px rgba(0,0,0,0.38);
  -moz-box-shadow: -1px 1px 17px -2px rgba(0,0,0,0.38);
  box-shadow: -1px 1px 17px -2px rgba(0,0,0,0.38);
}

.innerWrapper{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}
.butler{
  display: inline-table;
  float: left;
  padding: 8px 10px 0 10px;
  img{
    display: inline-table;
    vertical-align: middle;
  }
}

.butlerText,
.butlerText2{
  display: inline-table;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 24px;
  vertical-align: middle;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-left: 20px;
  color: #32A5A9;
}

.headerLinks {
  font-family: "Lato";
  font-size: 17px;
  font-weight: 200;
  margin-left: 50px;
  display: inline-block;
  float: left;
  padding: 20px 0px;
  a {
    text-decoration: none;
    color: #32A5A9;
  }
}
.user-picture img{
  width: 35px;
  border-radius: 20px;
}
#login-buttons,
.user-picture{
  display: inline-table;
  vertical-align: middle;
}
#login-buttons{
  padding-left: 10px;
  cursor: pointer;
}
.userWrapper{
  display: inline-table;
  margin-right: 0.2px;
  line-height: 1;
  padding: 12px 0;
  vertical-align: top;
  font-family: "Lato";
  font-size: 17px;
  font-weight: 200;
  position: relative;
}

.login-link-text{
  padding-right: 20px;
  font-family: "Lato";
  font-weight: 200;
  text-decoration: none !important;
}

.arrowDown{
  width: 15px;
  position: relative;
  left: 6px;
}
.logout{
  display: none;
  position: absolute;
  z-index: 999;
  background-color: white;
  // border: 1px red solid;
  top: 58px;
  right: 0px;
  padding: 0 41px;
  -webkit-box-shadow: -1px 1px 17px -2px rgba(0,0,0,0.38);
  -moz-box-shadow: -1px 1px 17px -2px rgba(0,0,0,0.38);
  box-shadow: -1px 1px 17px -2px rgba(0,0,0,0.38);
  cursor: pointer;
}
.btn-google{
  font-size: 23px;
  color: #32A5A9;
  font-family: 'Lato';
  text-transform: lowercase;
}

.activate{
  display: block !important;
}

.wrapper{
  width: 30%;
  display: inline-block;
  margin-right: 20px;
}
.wrapper2{
  width: 67%;
  display: inline-block;
  vertical-align: top;
}
.wrapper3{
  max-width: 1024px;
  margin: 0 auto;
}
.lineChartWrapper {
  display: inline-block;
  width: 75%;
  background-color: white;
  border: 1px #DCDCDC solid;
  /* height: 278px; */
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px 0;
}
.vacationHoursTracker {
  display: inline-block;
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px 0;
  padding-left: 20px;
  font-size: 30px !important;
  font-family: 'Lato';
  font-weight: 200;
  * {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  div {
    padding-top: 70px;
  }
  span {
    font-size: 50px;
    font-weight: bold;
  }
}
.hours-diff,
.ahead-or-behind  {
  font-size: 30px;
  display: block;
}
.tab-navigation{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px 20px 15px;
  a{
    font-family: 'Lato';
    color: black;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px 15px;
  }
  .active{
    color: white;
    border: 1px solid #32A5A9;
    background: #32A5A9;
    cursor: default;
  }
}
.donutChartWrapper,
.barChartWrapper{
  background-color: white;
  border: 1px #DCDCDC solid;
  height: 278px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px 0;
}
.barChartRadio{
  background-color: white;
  border: 1px #DCDCDC solid;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px 0;
}
.info{
  clear: both;
}

#donut-chart .highcharts-title,
#bar-chart .highcharts-title,
#line-chart .highcharts-title {

  font-size: 30px !important;
  font-family: 'Lato';
  font-weight: 200;
}

#bar-chart .highcharts-title tspan:nth-child(2){
  font-weight: bold;
}

.highcharts-legend-item text{
  font-size: 16px !important;
  font-family: 'Lato';
  letter-spacing: 1px;
  text-transform: uppercase;
}

.radio{
  text-align: center;
  font-size: 23px;
  color: #32A5A9;
  font-family: 'Lato';
  text-transform: lowercase;
  padding: 20px;
}

.login-wrapper{
  width: 200px;
  margin: 150px auto;
  #login-sign-in-link{
    font-weight: 400 !important;
  }
  #login-dropdown-list{
    width: 185px;
    margin-top: 0px;
  }
  .login-close-text{
    font-family: 'Lato';
    text-decoration: none !important;
  }
  #login-buttons{
    #login-buttons-google{
      background-color: #32A5A9;
      padding: 10px 8px;
      .text-besides-image{
        font-size: 16px;
        font-family: 'Lato';
        margin-left: 0;
      }
    }
    margin-top: 15px;
    .login-form,
    .or,
    #login-buttons-image-google{
      display: none;
    }

  }
}
input:focus{
  outline: red auto;
}

.adminWrapper{
  max-width: 1024px;
  margin: 0 auto;
  .adminList{
    width: 30%;
    display: inline-table;
    padding: 0;
    padding-right: 31px;
    li{
      list-style: none;
    }
  }
}

@media screen and (max-width: 1000px){
  .donutChartWrapper svg text{
    font-size: 13px !important;
  }
}

@media screen and (max-width: 885px){
  .wrapper,
  .wrapper2{
    width: 100%;
    display: block;
    margin-right: 0;
  }
  .donutChartWrapper svg text{
    font-size: 16px !important;
  }
}

@media screen and (max-width: 415px){
  .loginWrapper{
    margin-bottom: 20px;
    padding: 0;
  }
  .butlerText{
    display: none;
  }
  .logout{
    top: 58px;
  }
  .radio{
    font-size: 16px;
  }
  #bar-chart .highcharts-container text{
    font-size: 18px !important;
  }
}

@media screen and (max-width: 740px) {
  .lineChartWrapper {
    width: 100%
  }
  .vacationHoursTracker div {
    padding-top: 5px;
    width: 100%;
    text-align: center;
  }
}
